<html>
  <head>
  </head>
  <body>
  	<h3>Caesar Cipher Encoder</h3>
  	
  	<form>
  	  <p>Type in a message to encrypt</p>
  	  <input type='text' name='message'>
  	  <p>Type in a random number to code the message</p>
  	  <input type='text' name='code'>
  	  <br>
  	  <br>
  	  <input type='submit' value='encrypt'>
  	</form>

  	<p><%= message %></p> 
  	<p>--<%= code %>--></p>
  	<p><%= encoded_message %></p>
  </body>
</html>